.taxes-modal {
    .item {
        width: 274px;
        height: 476px;

        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;

        &:hover {
            button {
                background-color: #3984f4;
                color: #fff;
            }
        }

        &:active {
            button {
                opacity: 0.9;
            }
        }

        &__preview {
            min-width: 274px;
            min-height: 274px;

            border-radius: 16px;
        }

        &-info {
            width: fit-content;
            max-width: 224px;
            height: 101px;

            margin-top: 20px;
            margin-left: 25px;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__name {
                color: var(--dashboard-dark, #210b07);
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%; /* 31.2px */
            }
            &__number {
                color: var(--bg, #240600);
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 25.2px */

                margin-top: 10px;

                span:nth-child(1) {
                    opacity: 0.5;
                }

                span:last-child {
                    margin-left: 10px;
                }
            }
            &__tax {
                color: var(--bg, #240600);
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;

                margin-top: 10px;

                span:nth-child(1) {
                    opacity: 0.5;
                }
                span:nth-child(2) {
                    color: var(--bg, #240600);
                    font-weight: 500;
                    opacity: 1;

                    margin-left: 10px;
                }
                span:nth-child(3) {
                    color: rgba(36, 6, 0, 0.75);
                    font-weight: 600;

                    margin-left: 5px;
                }
            }
        }

        &__btn {
            display: flex;
            width: 224px;
            padding: 18px 30px 20px 30px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 16px;
            background: var(--bank-light-blue, #f1f6fe);

            margin-top: 20px;
            margin-left: 25px;

            color: var(--blue, #3984f4);
            text-align: center;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 23.4px */
        }

        * {
            transition: 120ms all;
        }
    }
}
