.g-components__line-button {
	width: auto;
	height: 25px;

	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #ffc952;
}
