$clr-white: #ffffff;
$clr-dark: #17171d;
$clr-dark-btn: #0d0d13;
$clr-dark-dashboard: #1e1e24;
$clr-black: #222226;
$clr-dividers: #333336;
$clr-gray: #888888;
$clr-green: #79ff3a;
$clr-red: #ff453a;
$clr-blue: #3984f4;
$clr-stroke: rgba(255, 255, 255, 0.03);
$clr-stroke-2: rgba(255, 255, 255, 0.1);

$clr-yellow: #ffc952;
$clr-yellow-hover: #f3bf4e;
$clr-yellow-old: #ffd831;
$clr-yellow-primary: linear-gradient(0deg, rgba(36, 6, 0, 0.05), rgba(36, 6, 0, 0.05)), linear-gradient(100.72deg, #ff9b00 0%, #ffd669 96.13%);
$clr-brown: linear-gradient(100.72deg, rgba(255, 155, 0, 0.1) 0%, rgba(255, 214, 105, 0.1) 96.13%), #240600;
$clr-brown-dark: #240600;

$clr-yellow-primary-active: linear-gradient(100.72deg, #ff9b00 0%, #ffd669 96.13%);
$clr-brown-active: linear-gradient(100.72deg, rgba(255, 155, 0, 0.05) 0%, rgba(255, 214, 105, 0.05) 96.13%), #240600;
